# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Practica2.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Developer\Repositorio\TopicosAvanzados\practicas\csharp\Practica2\.idea\.idea.Practica2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
